.navbar {
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    top: 0;
}


#mypic {
    border-radius: 50%;
    border: 0.5vw solid white;
    width: 10vw;
}


#name {
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
}

#description {
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8vw;
}

#example_title {
    font-family: 'Abel', sans-serif;
    font-size: 3vw;
}

#example_link {
    font-family: 'Abel', sans-serif;
    font-size: 2.5vw;
}

#interview_title {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
}

#accordionbody {
    padding-left: 15vw;
    padding-right: 15vw;
}

#brand {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vw;
}

#links {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5vw;
}

.social_button:hover {
    font-size: 2.5rem;
}
