.navbar {
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    top: 0;
}

.caption {
    font-size: 1.2rem;
}

#mypic {
    border-radius: 50%;
    border: 0.5vw solid white;
    width: 15rem;
    transition: all .3s ease;
}

@media (max-width: 1000px) {
    #mypic {
       width: 10rem;
       margin-top: 1rem;
    }
}

#mypic:hover {
    width: 17rem;
}


#name {
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    transition: all .3s ease;
}

#name:hover {
    font-size: 3rem;
}

#description {
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    transition: all .3s ease;
}

#description:hover {
    font-size: 1.1rem;
}

#example_title {
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
}

#example_link {
    font-family: 'Abel', sans-serif;
    font-size: 2.5vw;
}

#interview_title {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.5rem;
}

#accordionbody {
    padding-left: 15vw;
    padding-right: 15vw;
}

#brand {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

@media (max-width: 600px) {
    #brand {
        font-size: 1.7rem;
    }
}
 
#links {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

.social_button {
    font-size: 2rem;
    transition: all .3s ease;
}

.social_button:hover {
    font-size: 3rem;
}

#contact {
    background-color: black;
}

#contact_title {
    font-family: 'Genos', sans-serif;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#nameinput {
    text-align: center;
}

#emailinput {
    text-align: center;
}

#questioninput {
    text-align: center;
}

.formtitles {
    font-family: 'Genos', sans-serif;
    font-size: 2rem;
}

#submitbutton {
    font-size: 1rem;
    transition: all .3s ease;
    margin: 1rem;
}

#submitbutton:hover {
    font-size: 1.2rem;
}

.answer {
    font-size: 1rem;
}


.accordion-button {
    transition: all 0.5s ease;
    font-size: 1rem;
}

.accordion-button:hover {
    font-size: 1.2rem;
}
